<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
 
	<bean id="dbUtils" class="fr.adhoc.leboncoin.utils.DbUtils"/>
	<bean id="utilisateurDAO" class="fr.adhoc.leboncoin.dao.impl.UtilisateurDaoImpl">
    	<property name="myDbUtils" ref="dbUtils" />
	</bean>
	<bean id="produitDAO" class="fr.adhoc.leboncoin.dao.impl.ProduitDaoImpl">
    	<property name="myDbUtils" ref="dbUtils" />
    	<property name="myVendeur" ref="utilisateurDAO" />
    	<property name="myDao" ref="produitDAO" />
	</bean>
	<bean id="offreDAO" class="fr.adhoc.leboncoin.dao.impl.OffreDaoImpl">
    	<property name="myDbUtils" ref="dbUtils" />
	</bean>
	<bean id="offreService" class="fr.adhoc.leboncoin.service.impl.OffreServiceImpl">
    	<property name="myDao" ref="offreDAO" />
    	<property name="prodDao" ref="produitDAO" />
    	<property name="utDao" ref="utilisateurDAO" />
	</bean>
	<bean id="produitService" class="fr.adhoc.leboncoin.service.impl.ProduitServiceImpl">
    	<property name="myDao" ref="produitDAO" />
	</bean>
	<bean id="utilisateurService" class="fr.adhoc.leboncoin.service.impl.UtilisateurServiceImpl">
    	<property name="myDao" ref="utilisateurDAO" />
	</bean>
 
</beans>