<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
 
	<bean id="dbUtils" class="fr.adhoc.leboncoin.utils.DbUtils"/>

	<bean id="utilisateurDAO" class="fr.adhoc.leboncoin.dao.impl.UtilisateurDaoImpl">
    	<property name="myUtilisateurDbUtils" ref="dbUtils" />
	</bean>

	<bean id="produitDAO" class="fr.adhoc.leboncoin.dao.impl.ProduitDaoImpl">
    	<property name="myProduitDbUtils" ref="dbUtils" />
    	<property name="utilisateurDaoProduitDao" ref="utilisateurDAO" />
    	<property name="produitDaoProduitDao" ref="produitDAO" />
	</bean>

	<bean id="offreDAO" class="fr.adhoc.leboncoin.dao.impl.OffreDaoImpl">
    	<property name="myOffreDbUtils" ref="dbUtils" />
    	<property name="utilisateurDaoOffreDao" ref="utilisateurDAO" />
    	<property name="produitDaoOffreDao" ref="produitDAO" />

	</bean>

	<bean id="offreService" class="fr.adhoc.leboncoin.service.impl.OffreServiceImpl">
    	<property name="offreDaoOffreService" ref="offreDAO" />
    	<property name="produitDaoOffreService" ref="produitDAO" />
    	<property name="utilisateurDaoOffreService" ref="utilisateurDAO" />
	</bean>

	<bean id="produitService" class="fr.adhoc.leboncoin.service.impl.ProduitServiceImpl">
    	<property name="produitDaoProduitService" ref="produitDAO" />
    	<property name="utilisateurDaoProduitService" ref="utilisateurDAO" />
	</bean>
	
	<bean id="utilisateurService" class="fr.adhoc.leboncoin.service.impl.UtilisateurServiceImpl">
    	<property name="utilisateurDaoUtilisateurService" ref="utilisateurDAO" />
	</bean>
 
</beans>